/* fonts */
@font-face {
	font-family: "Din-Regular";
	src: url("../fonts/DIN2014/DIN2014-Regular.ttf");
}
@font-face {
	font-family: "Din-Bold";
	src: url("../fonts/DIN2014/DIN2014-bold.ttf");
}
/* base styles */
body {
	font-family: 'Din-Regular', sans-serif;
	background: #fafafa;
	font-size: 1rem;
}
.rec-container-base {
	display: flex;
	align-items: center;
	width: 280px;
	background-color: #eee;
	padding: 10px;
	margin-bottom: 15px;
}
/* navbar styles */
.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}
.btn {
	margin-left: -20px;
	background-color: transparent;
}
.btn svg {
	font-size: 20px;
	color: #878C91;
}
nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}
a[data-toggle="collapse"] {
	position: relative;
}
#sidebarCollapse {
	display: none;
}
/* sidebar styles */
#sidebar {
	width: 320px;
	height: 100%;
	position: fixed;
	padding: 30px 0 0;
	top: 0;
	left: -320px;
	z-index: 999;
	background: #fff;
	color: #000;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
  left: 0;
}
#sidebar a,
.sub-menu a {
	color: #2c3136
}
#sidebar a:hover,
.sub-menu a:hover {
	text-decoration: none;
}
/* sidebar head styles */
.rec-container-base__link-header {
	height: 50px;
	align-items: baseline;
}
.rec-container-base__link-header .nav-home-icon {
	position: absolute;
	top: 5px;
	right: 25px;
	height: 40px;
	width: 40px;
}
.rec-container-base__link-header {
	position: relative;
}
.rec-container-base__link-header a {
	height: 50px;
	width: 280px;
	text-transform: uppercase;
}
.rec-container-base__link-header a p {
	margin-left: 12px;
	margin-top: 5px;
	font-weight: bold;
	text-transform: uppercase;
}
.head {
	align-self: center;
}
.sub-head {
	width: 280px;
}
.sidebar-header {
	margin-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
}
.sidebar-header h3 {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 10px;
}
/* sidebar links */
#sidebar li a {
	height: 60px;
	width: 280px;
	display: flex;
	align-items: center;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: bold;
}
.rec-container-base__link,
.rec-container-base__link-sub-menu {
	position: relative;
}
.rec-container-base__link {
	position: relative;
	height: 80px;
}
.rec-container-base__link a {
	text-transform: uppercase;
}
.rec-container-base__link-header {
	height: 50px;
}
li.rec-container-base__link .img-container {
	position: absolute;
	right: 0;
	max-width: 80px;
	max-height: 80px;
	width: 100%;
	border-radius: 0;
}
li.rec-container-base__link .img-container img {
	border-radius: 0;
	height: 100%;
	width: 100%;
}
/* sub menu */
.sub-menu {
	position: fixed;
	flex-direction: column;
	padding-top: 10px;
	top: 0;
	left: 320px;
	width: 0;
	height: 100vh;
	top: 5px;
	z-index: 999;
	background: #fff;
	color: #000;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sub-menu.active {
	width: 320px;
	left: 0;
	top: 0;
	height: 100vh;
}
.sub-menu li a {
	height: 60px;
	width: 280px;
	display: flex;
	align-items: center;
}
path {
	pointer-events: none;
}
.fixed {
	position: fixed;
}
/* sub menu links */
.rec-container-base__link-sub-menu {
	height: 60px;
}
li.rec-container-base__link-sub-menu .img-container {
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	margin-right: 15px;
}
li.rec-container-base__link-sub-menu .img-container svg {
	position: absolute;
	right: 20px;
	top: 40%;
}
li.rec-container-base__link-sub-menu .img-container img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.page-submenu svg {
	position: absolute;
	right: 15px;
}
/* dismiss */
.dismiss-all {
	position: absolute;
	right: 0px;
	width: 100%;
	height: 50px;
	background: #000;
	cursor: pointer;
	z-index: 99;
	transition: all 1s ease;
}
.dismiss-all svg {
	position: absolute;
	font-size: 24px;
	top: 15px;
	right: 20px;
	color: #e1e1e1;
	z-index: 99;
	pointer-events: none;
}
.dismiss-all-mobile {
	display: none;
}
.dismiss-secondary {
	width: 40px;
	height: 40px;
}
.dismiss-secondary svg {
	margin-bottom: 0px;
}
/* overlay */
.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.overlay.active {
	display: block;
	opacity: 1;
}
/* page content */
#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}
.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}
/* media queries */
@media screen and (max-width: 425px) {
	#sidebarCollapse {
		display: block;
	}
}
@media screen and (max-width: 425px) {
	#sidebar {
		width: 375px;
		left: -375px;
	}
	.dismiss-all svg {
		right: 17px;
	}
}
@media screen and (max-width: 375px) {
	#sidebar {
		width: 320px;
		left: -320px;
	}
	.dismiss-all svg {
		right: 17px;
	}
}
@media screen and (max-width: 320px) {
	#sidebar {
		width: 100%;
		left: -320px;
	}
	.head {
		margin-top: 30px;
	}
	.dismiss-all {
		display: none;
	}
	.dismiss-all-mobile.active {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		margin: 0 auto;
		text-align: center;
		pointer-events: auto;
		z-index: 1;
	}
	.dismiss-all-mobile.active svg {
		color: #000;
		font-size: 24px;
		margin-top: 20px;
		pointer-events: none;
	}
}