@font-face {
	font-family: "Din-Regular";
	src: url("../fonts/DIN2014/DIN2014-Regular.ttf");
}
@font-face {
	font-family: "Din-Bold";
	src: url("../fonts/DIN2014/DIN2014-bold.ttf");
}
/* base styles */
body {
	font-family: 'Din-Regular', sans-serif;
	background: #fafafa;
}
.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}
#sidebar a,
.sub-menu a {
	color: #2c3136
}
#sidebar a:hover,
.sub-menu a:hover {
	text-decoration: none;
}

/* navbar styles */
.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}
.rec-container-base {
	display: flex;
	align-items: center;
	width: 280px;
	background-color: #e1e1e1;
	padding: 10px;
	margin-bottom: 20px;
}
.btn {
	margin-left: -20px;
	background-color: transparent;
}
.btn svg {
	font-size: 20px;
	color: #878C91;
}

/* sidebar styles */
#sidebar {
	width: 320px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -320px;
	z-index: 999;
	background: #fff;
	color: #000;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
  left: 0;
}

/* sidebar head styles */
.head {
	margin-top: 20px;
}
.sidebar-header h3 {
	font-size: 22px;
	font-weight: bold;
	color: #2c3136;
	margin: 0;
}
.rec-container-base__link-header {
	height: 50px;
}
.rec-container-base__link-header .nav-home-icon {
	position: absolute;
	right: 35px;
	height: 40px;
	width: 40px;
}
.rec-container-base__link-header a {
	font-size: 1.125rem;
	margin-left: 15px;
}

/* custom scrollbar container */
#mCSB_1 {
  margin: 0 auto;
}


/* sidebar dismiss */
.dismiss-base {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.dismiss-secondary {
	text-align: start;
	align-self: flex-start;
	margin-right: 0;
}
.dismiss-primary {
	align-self: flex-end;
	text-align: end;
	margin-right: 5px;
}

/* overlay */
.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.overlay.active {
	display: block;
	opacity: 1;
}

/* sidebar links */
#sidebar ul li a {
	padding: 10px;
	font-size: 1.125rem;
	display: block;
}
.rec-container-base__link,
.rec-container-base__link-sub-menu {
	position: relative;
}
.rec-container-base__link {
	position: relative;
	height: 100px;
}
.rec-container-base__link-header {
	height: 50px;
}
.rec-container-base__link-sub-menu {
	height: 60px;
}
#sidebarCollapse {
	display: none;
}
li.rec-container-base__link .img-container {
	position: absolute;
	right: 0;
	max-width: 100px;
	max-height: 100px;
	width: 100%;
	border-radius: 0;
}
li.rec-container-base__link .img-container img {
	border-radius: 0;
	height: 100px;
	width: 100px;
}
li.rec-container-base__link-sub-menu .img-container {
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	margin-right: 15px;
}
li.rec-container-base__link-sub-menu .img-container svg {
	position: absolute;
	right: 20px;
	top: 40%;
}
li.rec-container-base__link-sub-menu .img-container img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
a[data-toggle="collapse"] {
	position: relative;
}
ul.CTAs {
	padding: 20px;
}
ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

/* media queries */
@media screen and (max-width: 768px) {
	#sidebarCollapse {
		display: block;
	}
}

.sub-menu {
	position: fixed;
	flex-direction: column;
	top: 0;
	left: 320px;
	width: 0;
	height: 100vh;
	top: 5px;
	z-index: 999;
	background: #fff;
	color: #000;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sub-menu.active {
	width: 320px;
	left: 0;
	top: 0;
	height: 100vh;
}
path {
	pointer-events: none;
}
.fixed {
	position: fixed;
	overflow-y: hidden;
}